<div>
    <img
        #sourceImage
        class="source-image"
        [src]="safeImgDataUrl"
        [style.visibility]="imageVisible ? 'visible' : 'hidden'"
        (load)="imageLoadedInView()"
    />
    <div
        class="cropper"
        *ngIf="imageVisible"
        [class.rounded]="roundCropper"
        [style.top.px]="cropper.y1"
        [style.left.px]="cropper.x1"
        [style.width.px]="cropper.x2 - cropper.x1"
        [style.height.px]="cropper.y2 - cropper.y1"
        [style.margin-left]="marginLeft"
        [style.visibility]="imageVisible ? 'visible' : 'hidden'"
    >
        <div
            (mousedown)="startMove($event, 'move')"
            (touchstart)="startMove($event, 'move')"
            class="move"
        >
            &nbsp;
        </div>
    </div>
</div>
